 body{
 width: 100%;  
 background-image: url(fond.jpg);
 background-size: cover;
 }
 header>div{
 display: block;
 border: 1px solid gray;
 width: 95%;
 height: 100px;
 text-align: center;
 background-color: #ADD8E6;
 margin: 2% 2% 2% 2%;
 border-radius: 10px;
 vertical-align: middle;
}
img{
	display: inline-block;
	margin-left: 1%; 
	float: left;
}
header>div>span{
	vertical-align: center;
	font-size: -webkit-xxx-large;
	line-height: 2.2;
}
section{
	display:inline-block;
	vertical-align: text-top;
	width: 80%;
	text-align: justify;
	margin-left: 1%;
	background-color: rgba(100, 161, 199, 0.6);
	min-height: 600px;
	margin-left: 17%;
}
aside{
	display: inline-block;
	background-color: #20B2AA;
	width: 14%;
	vertical-align: text-top;
	min-height: 600px;
	text-align: center;
	margin-left: 2%;
	position: fixed;
}
section>h1{
	text-align: center;
	
	

}
aside>div{
	font-size: large;
	font-weight: bold;
	margin-top: 10%;
	margin-bottom: 50%;

}
section>p{
	margin: 3% 3% 3% 3%;
}
.lien{
	display: block;
	margin-top: 15%;
	font-size: large;
}
#connect{
	text-align: center;
	font-size: large;
}
#connexion{
	display:inline-block;
	width: 43%;
    margin-left: 27%;
    font-size: xx-large;
    text-align: start;
    margin-top: 12%;
}
#inscription{
	margin-left: 31%;
    margin-top: 5%;
}
.inc{
 	margin-left:37%;
 	display: block;
 	margin-bottom: 4%;
}
#bienvenu{

	width: 100px;
    margin-left: 16%;
	height:25px;
}
.ins{
	
	min-height: 10px;
	margin-top: 4%;

}
#liste{
	display:inline-block;
	width: 75%;
    margin-left: 19%;
    font-size: large;
}
#connect{
	margin-right: 2%;
	float: right;
}
.message{
	color:red;
	font-size: large;
	margin-left: 3%;
	margin-top: 2%;
}
table
{
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    background-color: #F4F4F4;
    opacity: 0.8;
    
}
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
    border-radius: 14px;
}
#ajouterTrajet{
	margin: 0 auto;
	margin-top: 5%;
	
}
#accueilmoi{
	font-family: tahoma, Arial;
	font-size: medium;
}
#titreacc{
	margin-top: 11%; 
    margin-bottom: 7%; 
}
#bouttonajout{
	margin-left: 45%;
	width: 135px;
    height: 35px;
}
form>label{
	display: block;
    width: 200px;
    float: left;
    font-family: tahoma, Arial;
    font-size: medium;
    font-weight: bold;
}
#ajoutertr{
	margin-left: 20%;
	margin-top: 4%;
	width: 130px;
    height: 23px;
}
form>div>label{
	display: block;
    width: 200px;
    float: left;
    font-family: tahoma, Arial;
    font-size: medium;
    font-weight: bold;
}
#ajouttrajet{
	margin-left: 31%;
    margin-top: 5%;
}
#ajoutertrajett{
	width: 60%;
	margin-left: 27%;
}
#btnregister{
	margin-left: 45%;
    width: 70px;
    height: 23px;
}
#aaligner{
	margin-top: 20%;
}
